@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-progress {
  animation: progress 1s ease-in-out infinite;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
